In [1]:
# Import the dependencies.

import pandas as pd
import gmaps
import requests

# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.

city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Albany,US,2020-04-06 00:16:00,42.60,-73.97,55.99,54,75,13.87
1,1,Torbay,CA,2020-04-06 00:20:29,47.67,-52.73,28.00,85,20,4.70
2,2,Saskylakh,RU,2020-04-06 00:20:30,71.92,114.08,18.75,96,94,7.54
3,3,Solton,RU,2020-04-06 00:20:30,52.84,86.48,31.66,86,0,4.27
4,4,Hermanus,ZA,2020-04-06 00:18:34,-34.42,19.23,60.01,77,81,5.99

In [3]:
# Type of the city_data_df

city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use the Google API key.

gmaps.configure(api_key = g_key)

In [5]:
# Get the maximum temperature.

# max_temp = city_data_df["Max Temp"]
# temps = []
# for temp in max_temp:
    # temps.append(max(temp, 0))

In [6]:
# GENERAL SYNTAX FOR CREATING A HEATMAP:

# 1. Assign the locations to an array of latitude and longitude pairs.
# locations = [latitude, longitude]
# 2. Assign the weights variable to some values.
# temperatures = # an array of equal length of the locations array.
# 3. Assign the figure variable to the gmaps.figure() attribute.
# fig = gmaps.figure()
# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
# heatmap_layer = gmaps.heatmap_layer(locations, weights=temperatures)

# 5. Add the heatmap layer.
# fig.add_layer(heatmap_layer)
# 6. Call the figure to plot the data.
# fig

In [7]:
# Create the heatmap for the Max Temp.

# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable. --- list comprehension to get the max temp, above or equal to 0.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp],
                                 dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent humidity.

locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of percent cloudiness.

locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Heatmap of percent wind speed.

locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Ask the customer to add a minimum and maximum temperature value.

min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [12]:
# Filter the dataset to find the cities that fit the criteria.

preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
5,5,Arraial Do Cabo,BR,2020-04-06 00:16:40,-22.97,-42.03,75.29,71,72,9.53
12,12,Bambous Virieux,MU,2020-04-06 00:20:35,-20.34,57.76,78.80,74,40,9.17
14,14,Vaitape,PF,2020-04-06 00:20:36,-16.52,-151.75,84.40,72,4,8.43
15,15,Bathsheba,BB,2020-04-06 00:20:36,13.22,-59.52,80.60,78,40,13.87
16,16,Puerto Ayora,EC,2020-04-06 00:20:36,-0.74,-90.35,80.60,83,20,8.05
21,21,Turan,VN,2020-04-06 00:16:24,16.07,108.22,77.00,83,20,3.36
26,26,Guntakal,IN,2020-04-06 00:16:39,15.17,77.38,76.71,61,38,7.16
28,28,Rikitea,PF,2020-04-06 00:20:38,-23.12,-134.97,75.34,65,47,10.38
29,29,Mahebourg,MU,2020-04-06 00:20:39,-20.41,57.70,78.80,74,40,9.17
32,32,Acapulco,MX,2020-04-06 00:17:26,16.86,-99.89,82.40,74,20,5.82

In [13]:
preferred_cities_df.count()

City_ID       185
City          185
Country       185
Date          185
Lat           185
Lng           185
Max Temp      185
Humidity      185
Cloudiness    185
Wind Speed    185
dtype: int64

In [14]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.

hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

               City Country  Max Temp    Lat     Lng Hotel Name
5   Arraial Do Cabo      BR     75.29 -22.97  -42.03
12  Bambous Virieux      MU     78.80 -20.34   57.76
14          Vaitape      PF     84.40 -16.52 -151.75
15        Bathsheba      BB     80.60  13.22  -59.52
16     Puerto Ayora      EC     80.60  -0.74  -90.35
21            Turan      VN     77.00  16.07  108.22
26         Guntakal      IN     76.71  15.17   77.38
28          Rikitea      PF     75.34 -23.12 -134.97
29        Mahebourg      MU     78.80 -20.41   57.70
32         Acapulco      MX     82.40  16.86  -99.89

In [15]:
# Set parameters to search for a hotel.

params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [16]:
# Iterate through the DataFrame.

for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [17]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
5,Arraial Do Cabo,BR,75.29,-22.97,-42.03,Pousada Porto Praia
12,Bambous Virieux,MU,78.80,-20.34,57.76,Casa Tia Villa
14,Vaitape,PF,84.40,-16.52,-151.75,Conrad Bora Bora Nui
15,Bathsheba,BB,80.60,13.22,-59.52,Atlantis Hotel
16,Puerto Ayora,EC,80.60,-0.74,-90.35,Finch Bay Galapagos Hotel
21,Turan,VN,77.00,16.07,108.22,Grand Mercure Danang
26,Guntakal,IN,76.71,15.17,77.38,Railway Guest House
28,Rikitea,PF,75.34,-23.12,-134.97,Pension Maro'i
29,Mahebourg,MU,78.80,-20.41,57.70,Shandrani Beachcomber Resort & Spa
32,Acapulco,MX,82.40,16.86,-99.89,HS Hotsson Smart Acapulco

In [18]:
# Add a heatmap of temperature for the vacation spots.

locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [19]:
# Add a heatmap of temperature for the vacation spots and marker for each city.

locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [20]:
info_box_template = """
<dl>
<dt>Name</dt><dd>{column1}</dd>
<dt>Another name</dt><dd>{column2}</dd>
</dl>
"""

In [21]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

In [22]:
# Store the DataFrame Row.

hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [23]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.

locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))