In [1]:
# Import the dependencies.

import pandas as pd
import gmaps
import requests

# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.

city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Hilo,US,2020-04-04 06:08:24,19.73,-155.09,77.00,69,90,5.82
1,1,Vaini,TO,2020-04-04 06:08:24,-21.20,-175.20,78.80,78,75,6.93
2,2,Albany,US,2020-04-04 06:08:20,42.60,-73.97,46.99,93,90,4.70
3,3,Igrim,RU,2020-04-04 06:08:26,63.19,64.42,39.54,75,41,15.05
4,4,Libres,MX,2020-04-04 06:08:26,19.47,-97.68,62.31,32,99,8.16

In [3]:
# Type of the city_data_df

city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use the Google API key.

gmaps.configure(api_key = g_key)

In [5]:
# Get the maximum temperature.

# max_temp = city_data_df["Max Temp"]
# temps = []
# for temp in max_temp:
    # temps.append(max(temp, 0))

In [6]:
# GENERAL SYNTAX FOR CREATING A HEATMAP:

# 1. Assign the locations to an array of latitude and longitude pairs.
# locations = [latitude, longitude]
# 2. Assign the weights variable to some values.
# temperatures = # an array of equal length of the locations array.
# 3. Assign the figure variable to the gmaps.figure() attribute.
# fig = gmaps.figure()
# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
# heatmap_layer = gmaps.heatmap_layer(locations, weights=temperatures)

# 5. Add the heatmap layer.
# fig.add_layer(heatmap_layer)
# 6. Call the figure to plot the data.
# fig

In [7]:
# Create the heatmap for the Max Temp.

# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable. --- list comprehension to get the max temp, above or equal to 0.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp],
                                 dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent humidity.

locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of percent cloudiness.

locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Heatmap of percent wind speed.

locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Ask the customer to add a minimum and maximum temperature value.

min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 70
What is the maximum temperature you would like for your trip? 95

In [12]:
# Filter the dataset to find the cities that fit the criteria.

preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Hilo,US,2020-04-04 06:08:24,19.73,-155.09,77.00,69,90,5.82
1,1,Vaini,TO,2020-04-04 06:08:24,-21.20,-175.20,78.80,78,75,6.93
6,6,Georgetown,MY,2020-04-04 06:07:26,5.41,100.34,91.40,59,20,5.82
11,11,Kruisfontein,ZA,2020-04-04 06:08:28,-34.00,24.73,74.01,47,0,9.31
12,12,Puerto Ayora,EC,2020-04-04 06:08:07,-0.74,-90.35,79.00,90,27,5.99
14,14,Darnah,LY,2020-04-04 06:08:28,32.77,22.64,70.68,34,100,18.28
15,15,Kutum,SD,2020-04-04 06:08:29,14.20,24.67,78.73,10,26,16.20
29,29,Bandarbeyla,SO,2020-04-04 06:08:30,9.49,50.81,82.80,59,30,9.40
30,30,Kapaa,US,2020-04-04 06:08:30,22.08,-159.32,75.20,83,75,8.05
33,33,Saint-Philippe,RE,2020-04-04 06:08:30,-21.36,55.77,84.20,88,75,5.82

In [13]:
preferred_cities_df.count()

City_ID       213
City          213
Country       213
Date          213
Lat           213
Lng           213
Max Temp      213
Humidity      213
Cloudiness    213
Wind Speed    213
dtype: int64

In [14]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.

hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

              City Country  Max Temp    Lat     Lng Hotel Name
0             Hilo      US     77.00  19.73 -155.09
1            Vaini      TO     78.80 -21.20 -175.20
6       Georgetown      MY     91.40   5.41  100.34
11    Kruisfontein      ZA     74.01 -34.00   24.73
12    Puerto Ayora      EC     79.00  -0.74  -90.35
14          Darnah      LY     70.68  32.77   22.64
15           Kutum      SD     78.73  14.20   24.67
29     Bandarbeyla      SO     82.80   9.49   50.81
30           Kapaa      US     75.20  22.08 -159.32
33  Saint-Philippe      RE     84.20 -21.36   55.77

In [15]:
# Set parameters to search for a hotel.

params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [16]:
# Iterate through the DataFrame.

for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [18]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Hilo,US,77.00,19.73,-155.09,Hilo Hawaiian Hotel
1,Vaini,TO,78.80,-21.20,-175.20,Keleti Beach Resort
6,Georgetown,MY,91.40,5.41,100.34,Cititel Penang
11,Kruisfontein,ZA,74.01,-34.00,24.73,Oyster Bay House Rental
12,Puerto Ayora,EC,79.00,-0.74,-90.35,Finch Bay Galapagos Hotel
14,Darnah,LY,70.68,32.77,22.64,دوفا زعطوط
15,Kutum,SD,78.73,14.20,24.67,Dibbo areaمنطقة دبو
29,Bandarbeyla,SO,82.80,9.49,50.81,REER XOOSHLE GROUP
30,Kapaa,US,75.20,22.08,-159.32,Sheraton Kauai Resort at Coconut Beach
33,Saint-Philippe,RE,84.20,-21.36,55.77,"Chambres d'hôte ""La Trinité"""

In [20]:
# Add a heatmap of temperature for the vacation spots.

locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [23]:
# Add a heatmap of temperature for the vacation spots and marker for each city.

locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [24]:
info_box_template = """
<dl>
<dt>Name</dt><dd>{column1}</dd>
<dt>Another name</dt><dd>{column2}</dd>
</dl>
"""

In [25]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [26]:
# Store the DataFrame Row.

hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [27]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.

locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))